{% extends "base.html" %}
{% set active = "about" %}

{% block content %}
    <div class="card card-block">
        <h4>About</h4>
        <p class="card-text">This site is by Chris Stevens, check out my personal website
            <a href="http://cstevens.biz" target="_blank">here</a>. Got a question, comment, or just want a chat? Feel
        free to <a href="mailto:contact@cstevens.biz" target="_blank">email me</a> or send me a message on
            <a href="https://reddit.com/u/chr12t0pher" target="_blank">Reddit</a>.</p>

        <p>Check me out on <a href="https://github.com/chr12t0pher">Github</a> too, you'll find the
        <a href="https://github.com/Chr12t0pher/cscq-resume-searcher">source code</a> for this there!</p>
    </div>
{% endblock %}