{% macro googlead() %}
    <div class="ad-wrap col-lg-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- cscq's resume searcher -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-0334153774338665"
             data-ad-slot="9535414531"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endmacro %}