{% extends "base.html" %}
{% set active = "home" %}

{% block content %}
    <div class="col-lg-12 text-xs-center">
        <p class="lead">Resumes containing keywords for <strong>all</strong> the options you select will be returned. Want to see all resumes? Don't select any filters.</p>
        <hr />
    </div>
    <form action="/search/" method="post">
        <div class="col-lg-6">
            <h4>Location (Countries)</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:united-kingdom" name="item">
                    United Kingdom
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:united-states" name="item">
                    United States
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:europe" name="item">
                    Europe (excluding UK)
                </label>
            </div>

            <h4>Location (Cities)</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:london" name="item">
                    London
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:san-francisco-bay-area" name="item">
                    San Francisco Bay Area
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="location:new-york" name="item">
                    New York
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Experience</h4>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="university:first-year" name="item">
                    First/Junior Year
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="university:second-year" name="item">
                    Second/Sophomore Year
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="university:third-year" name="item">
                    Third/Junior Year
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="university:fourth_final-year" name="item">
                    Fourth/Senior/Final Year
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="experienced" name="item">
                    Experienced
                </label>
            </div>

            <h4>More?</h4>
            <p>If you've got suggestions for more filters, get in touch with me via the About page and I'll be happy to help!</p>

        </div>


        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
            <hr />
        </div>
    </form>
    {# googlead() #}
{% endblock %}